<!doctype html>
<html lang="pt-BR" xmlns:th="http://thymeleaf.org">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>

    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SpringBlog</title>
</head>
<body>
<header>
    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
            <span class="navbar-brand mb-0 h1" style="font-weight: bold;">SpringBlog</span>
        </div>
    </nav>
</header>
<main>
    <div class="container" style="width: 60%; padding-bottom: 30px;">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb" style="background-color: white; padding-left: 0px; padding-top: 15px;">
                <li class="breadcrumb-item" aria-current="page"><a href="/posts">Posts</a></li>
                <li class="breadcrumb-item active" aria-current="page" th:text="${post.titulo}"></li>
            </ol>
        </nav>

        <article>
            <h1 class="card-title" style="font-weight: bold; margin-bottom: 20px;">
                <span th:text="${post.titulo}"></span>
            </h1>
            <p class="card-subtitle mb-2 text-muted">
                <i class="material-icons" >person_outline</i>
                <span th:text="${post.autor}"></span>
                <br>
                <i class="material-icons">date_range</i>
                <span th:text="${post.data}"></span>
                <br>
            </p>
            <section>
                <p class="card-text" style="padding-top: 40px;">
                    <span th:utext="${post.texto}"></span>
                </p>
            </section>
        </article>
    </div>
</main>
</body>
</html>